# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env — never commit real secrets
.env
.env*.local

# prisma
/prisma/generated

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
.env*

# typescript incremental build info
tsconfig.tsbuildinfo
